body,html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}
h1{
  color:  #e2dbdb;
}
hr{
  border-color: #f05f44;
  width: 100px;
}
.buffer{
  height: 10rem;
}

.btn-xl{
  text-transform: uppercase;
  padding: 1rem 2rem;
}
.btn-primary{
  background-color: #f05f44;
  border-color: #f05f44;
  border-radius: 300px;
  font-weight: 700;

}
.btn-primary:hover{
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}
